<div class="about">
  <div class="textDiv">
    <h2>About Me</h2>
    <hr>
    <div class="imgDiv">
      <img src="img/headshot.png">
    </div>
    <hr>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;I started coding while a student in college. In my Intro to Mechanical Engineering
    class, I had to make a robot that used an Arduino. This was the first time I had ever
    really coded something and I happened to love it! The next semester I started my journey
    in computer science. I took a year of computer science courses where I learn basic
    computer science theory in Python and Java. Also during this year, I was able to work on
    side projects for a couple different companies. These projects are detailed in the code
    experience section of this website. A year into my computer science major,
    I found Prime Digital Academy. Although I liked the theory I was learning in school,
    I wanted to learn more real world skills and hoped to shorten my schooling as it was
    getting rather expensive. Prime offered everything I was looking for in a school. Not
    only was I learning how to program on the MEAN stack, I was also developing my soft skills.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;I am currently a student at Prime Digital Academy. So far, I have completed tier 1,
    which is the first six weeks of class where we learn the basics of Javascript on codecademy.
    I have almost completed tier 2, which is seven weeks of in person lectures. In these lectures,
    we learn about the MEAN/SEAN stack. After these seven weeks, we are able to create fullstack
    applications and we are able to deploy them to the internet using Heroku and mLab. My next
    step is tier 3. In tier 3, it is seven weeks of projects. The first two weeks is spent
    on a solo project. Currently, I am planning out what my solo project is going to be.</p>
  </div>
</div>
