

<div class="about">
  <div class="textDiv">
    <h2>Code Experience</h2>
    <hr>
    <h3>School</h3>
    <h4><b>Prime Digital Academy</b></h4>
    <p>I came to Prime to not only learn how to code but to also develop my soft skills. I like Prime specifically because they teach skills that are valued on the job. I can actually see how I will be using everything I learn in an actual job.
    I have currently learned the full stack. So far, we have learned HTML, CSS, Javascript, Node.js, Express, MongoDB, Passport, and pSQL and use these languages and libraries to create the front end and back end of simple applications.
</p>
    <b>Projects:<b><p>
    At Prime I will be doing two projects:
    <ul>
      <li>A solo project</li>
      <li>A group project</li>
    </ul>
  I am currently in the planning stage of my solo project.</p>
<br>
    <h4><b>University of Minnesota: Twin Cities</b></h4>
    <p>At the University of Minnesota, I took the following relevant classes:
      <ul>
        <li>Calculus 1 (taken in high school but was through UMN)</li>
        <li>MATH 1272: Calculus 2</li>
        <li>MATH 2263: Multivariable Calculus</li>
        <li>MATH 2243: Linear Algebra and Differential Equations</li>
        <li>STAT 3021: Intro to statistics for science and engineering</li>
        <li>ME 2011: Into to mechanical engineering
          <ul>
            <li>Final project was a working robot. I had to build the structure, code an Arduino (C programming), and
            set up a circuit on a solderless breadboard.</li>
          </ul>
        </li>
        <li>CSCI 1133: Intro to programming
        <ul>
          <li>Learned basic programming skills in Python</li>
        </ul></li>
        <li>1933: Intro to algorithms and data structures
        <ul>
          <li>Learned how to create basic data structures and algorithms such as binary search trees, and merge
          sorting in Java</li>
        </ul></li>
        <li>CSCI 2011: Discrete Structures</li>
        <li>CSCI 2033: Elementary Computer Linear Algebra
        <ul>
          <li>Used Matlab to do basic programming and create 3D structures</li>
        </ul></li>
      </ul>
    </p>

    <hr>
    <h3>Side Projects</h3>
    <p>While at the University of Minnesota, I did a few side projects.
    <ul>



      <li>Cane's FM<ul>
        <li>At Cane's, I have also had the oppurtunity to work on special coding projects. The first
        project, currently called Cane's FM is essentially a biased randomizer. At Cane's, we have
        five different areas of emphasis that we need to focus on. The managers go into an excel
        file and rank different issues that need to be fixed in each area of emphasis. Then, my
        code takes those ranked lists in, randomly picks two of those issues, and prints out the
        issues it picks. The process is not completely random, however, as the issues closer to the
        top of the list are more likely to be printed out compared to issues that are lower on the
        list. The list of picked issues is printed out and displayed in the kitchen and the front of
        the house so that everyone can look through the issues and work on them. </li>
      </ul></li>

      <li>
        Configurator
        <ul>
          <li>My current project is called a Configurator. This project is being done for the company
my dad works for, FleetPride. It is an program that asks questions, and, depending on how
the questions are answered, produces a part number. It does this for several different
categories including pumps and cab controls. It is expected to be used by employees who
take orders by phone. They will be able to get all of the part numbers while also being
able to look up those part numbers to see if they have those specfic parts in stock. They
will be looking up part numbers in their own system that FleetPride already has. The
project is still in the beginning stages, however, a fully working model is essentially
completed.</li>
        </ul>
      </li>

    </ul></p>
    <hr>
    <h3>Github</h3>
    <b>Username: {{cc.githubUser}}</b>
    <p>Github is the best place to see everything I have worked on while at Prime.
    All of my repositories are linked below.</p>
    <br>
    <h4>Repository Links</h4>
    <div ng-repeat="repo in cc.repos">
      <div>
        <a class="repos" href="{{repo.html_url}}">{{repo.name}}</a>
      </div>
    </div>
  </div>
</div>
