a{
  margin-left: 5px;
  margin-bottom: 10px;
  border: 5px solid grey;
  border-radius: 4px;
  background-color: grey;
  color: honeydew;
  text-decoration: none;

}
a:hover,a:focus,a:active{
  color: lightgrey;
  text-decoration: none;
}

.links{
  text-align: center;
}
.jumbotron{
  text-align: center;
}

.repos{
  color: blue;
  background-color: white;
  border: none;


}
.repos:hover,.repos:focus,.repos:active{
  color: grey;
}

img{
  width: 50%;
  height:50%;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}
.imgDiv{
  margin: 10px;
}
.textDiv{
  background-color: white;
  font-size: 16px;
  border: 10px solid white;
  border-radius: 16px;
}
body{
  background-color: honeydew;
  font-family: 'Roboto Slab', serif;
}
h2{
  text-align: center;
}
.about{
  background-color: honeydew;
  border: 50px solid honeydew;
}
